<%
user = @login.user
%>

<div class='mynavbar mysticky'>
<section class="row-fluid">	
	<section class='span6'>
		<%=nav2("Settings", '/settings/dashboard', 'Change Password')%>
	</section>
</section>
</div>

<section class="container box">
	<form class="form-horizontal" action="filter_password" method="post">
		<div class="control-group span12">
			<label class="control-label">Current Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" name="current_password" id="current_password" placeholder="Write your Current Password Here" value="">
			</div>
			<br/>

			<label class="control-label">New Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" name="new_password_1" id="new_password_1" placeholder="Write the New Password Here" value="">
			</div>
			<br/>

			<label class="control-label">Repeat Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" name="new_password_2" id="new_password_2" placeholder="Repeat the New Password Here" value="">
			</div>
			<br/>
							
			<div class="controls">
				<button type="submit" id="update" class="btn btn-blue">Update</button>
				<a id="cancel" class="btn btn-default" href='/settings'>Cancel</a>
			</div>
		</div>
	</form>
</section>
