<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">
		<div class="span6">
			<%=nav3("Settings", "/settings/dashboard", "Affiliates", "/settings/affiliates", "Sales")%>
		</div>
	</section>
</div>

<!-- Content -->
<section class="row-fluid">
	<div class='span12 box'>
		<h2>Affiliate Sales</h2>
		<p>This page will show a list of your sales.</p>
	</div>
</section>
