<script type="text/javascript">
    // Include Unibox
		document.write('<link href="/core/css/unibox.css" media="all" rel="stylesheet" type="text/css" id="ajax-dialog-css">');
</script>

<section class="row-fluid" style="">
    <div class="container-fluid" style="padding-right: 0 !important;">
      <div class="row">
        <!-- Pool 1 -->
        <section id="pool1" name="pool1" class="col panel">
          <div id="panel1_panel" class="pool1-panel">
            <div id="pool1_header" name="pool1_header" class="panel1-header">
              <h2>Messages</h2>
              <button class="close-btn" onclick="closePanel('pool1')"><i class="fa fa-times-circle-o"
                  aria-hidden="true"></i></button>
              <button id="arrow-right-1" class="arrow" onclick="togglePanel('pool2', 'arrow-right-1')">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
						<!--
            <div class="search-bar">
              <input type="text" placeholder="Search">
            </div>
						-->
            <div id="list_div" class="panel-content">
							write here some content.
							<!-- write here some content -->
            </div>
            <!-- <div class="panel-footer">
                        Footer for Pool 1
                        </div> -->
            <!-- <button id="arrow1" class="arrow-btn right" >→</button> -->
          </div>
        </section>
        <!-- Pool 2 -->
        <section id="pool2" name="pool2" class="col-6 panel ">
          <div id="panel2_panel" class="pool2-panel">
            <div id="pool2_header" name="pool2_header" class="panel2-header">
              <div class="header-info">
                <div>
                  <span class="user-name">John L Miller</span> |
                  <span class="user-message">Full Stack Development</span>
                </div>
              </div>
              <button class="close-btn" onclick="closePanel('pool2')">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </button>

              <button id="arrow-right-2" class="arrow" onclick="togglePanel('pool3', 'arrow-right-2')">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
              <button id="arrow-left-1" class="arrow-left" onclick="togglePanel('pool1', 'arrow-left-1')">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
            </div>
            <div id="list_div" class="panel-content">
              <section class="list">
                <div class="chat-messages">
                  <div class="message other">
                    <!-- <span class="user-avatar">JM</span> -->
                    <img class="user-avatar" src="/core/images/avatar.jpg" alt="User Avatar" />
                    <div class="other-user-content">
                      <span class="message-header">
                        <span class="user-name">John L Millhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhher
                        </span>
                        <span class="days">| 22 days ago </span>
                      </span>
                      <p>
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        project. I have experience with HTML, CSS, JavaScript,
                        React, Node.js, and MongoDB. I can also help with
                        testing and debugging.

                        project with highest quality and within the timeline.
                      </p>
                    </div>
                  </div>
                  <div class="message user">
                    <img class="user-avatar" src="/core/images/avatar.jpg" alt="User Avatar" />
                    <div class="other-user-content">
                      <span class="message-header">
                        <span class="user-name">John L Miller
                        </span>
                        <span class="days">| 22 days ago </span>
                      </span>
                      <p>
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        project. I have experience with HTML, CSS, JavaScript,
                        React, Node.js, and MongoDB. I can also help with
                        testing and debugging.

                        project with highest quality and within the
                      </p>
                    </div>
                  </div>

                  <div class="message other">
                    <!-- <span class="user-avatar">JM</span> -->
                    <img class="user-avatar" src="/core/images/avatar.jpg" alt="User Avatar" />
                    <div class="other-user-content">
                      <span class="message-header">
                        <span class="user-name">John L Miller
                        </span>
                        <span class="days">| 22 days ago </span>
                      </span>
                      <p>
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        project. I have experience with HTML, CSS, JavaScript,
                        React, Node.js, and MongoDB. I can also help with
                        testing and debugging.

                        project with highest quality and within the timeline.
                      </p>
                    </div>
                  </div>
                  <div class="message user">
                    <img class="user-avatar" src="/core/images/avatar.jpg" alt="User Avatar" />
                    <div class="other-user-content">
                      <span class="message-header">
                        <span class="user-name">John L Miller
                        </span>
                        <span class="days">| 22 days ago </span>
                      </span>
                      <p>
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        project. I have experience with HTML, CSS, JavaScript,
                        React, Node.js, and MongoDB. I can also help with
                        testing and debugging.

                        project with highest quality and within the
                      </p>
                    </div>
                  </div>
                  <div class="message other">
                    <!-- <span class="user-avatar">JM</span> -->
                    <img class="user-avatar" src="/core/images/avatar.jpg" alt="User Avatar" />
                    <div class="other-user-content">
                      <span class="message-header">
                        <span class="user-name">John L Miller
                        </span>
                        <span class="days">| 22 days ago </span>
                      </span>
                      <p>
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        project. I have experience with HTML, CSS, JavaScript,
                        React, Node.js, and MongoDB. I can also help with
                        testing and debugging.

                        project with highest quality and within the timeline.
                      </p>
                    </div>
                  </div>
                  <div class="message user">
                    <img class="user-avatar" src="/core/images/avatar.jpg" alt="User Avatar" />
                    <div class="other-user-content">
                      <span class="message-header">
                        <span class="user-name">John L Miller
                        </span>
                        <span class="days">| 22 days ago </span>
                      </span>
                      <p>
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        project. I have experience with HTML, CSS, JavaScript,
                        React, Node.js, and MongoDB. I can also help with
                        testing and debugging.

                        project with highest quality and within the
                      </p>
                    </div>
                  </div>
                  <div class="message other">
                    <!-- <span class="user-avatar">JM</span> -->
                    <img class="user-avatar" src="/core/images/avatar.jpg" alt="User Avatar" />
                    <div class="other-user-content">
                      <span class="message-header">
                        <span class="user-name">John L Miller
                        </span>
                        <span class="days">| 22 days ago </span>
                      </span>
                      <p>
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        project. I have experience with HTML, CSS, JavaScript,
                        React, Node.js, and MongoDB. I can also help with
                        testing and debugging.

                        project with highest quality and within the timeline.
                      </p>
                    </div>
                  </div>
                  <div class="message user">
                    <img class="user-avatar" src="/core/images/avatar.jpg" alt="User Avatar" />
                    <div class="other-user-content">
                      <span class="message-header">
                        <span class="user-name">John L Miller
                        </span>
                        <span class="days">| 22 days ago </span>
                      </span>
                      <p>
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        As a Full Stack Developer I can help you complete this
                        project. I have experience with HTML, CSS, JavaScript,
                        React, Node.js, and MongoDB. I can also help with
                        testing and debugging.

                        project with highest quality and within the
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="panel-footer bottom-label div">
              <div class="message-input">
                <input type="text" placeholder="Send a message..." />
                <button class="send-btn">Send</button>
              </div>
            </div>
            <!-- <button id="arrow2" class="arrow-btn left" >←</button> -->
            <!-- <button id="arrow3" class="arrow-btn right" >→</button> -->
          </div>
        </section>
        <!-- Pool 3 -->
        <section id="pool3" name="pool3" class="col panel">
          <div id="panel3_panel" class="pool3-panel">
            <div id="pool3_header" name="pool3_header" class="panel3-header">

              <button class="close-btn" onclick="closePanel('pool3')">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </button>
              <button id="arrow-left-2" class="arrow-left" onclick="togglePanel('pool2', 'arrow-left-2')">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
            </div>
            <div id="list_div" class="panel-content">
              <section class="list">
                <div class="third-section-content">
                  <div class="tab-container">
                    <!-- Tab Buttons -->
                    <div class="tab-buttons">
                      <button class="tab-button active" data-tab="tab1">Chats</button>
                      <button class="tab-button" data-tab="tab2">Filters</button>
                      <button class="tab-button" data-tab="tab3">Events</button>
                      <button class="tab-button" data-tab="tab4">Insights</button>
                    </div>
                    <!-- Tab Contents -->
                    <div class="tab-contents">
                      <div id="tab1" class="tab-content active">
                        <p>
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.
                          Content for Chats. This is the first tab's content.


                        </p>
                      </div>
                      <div id="tab2" class="tab-content">
                        <p>Content for Filters. This is the second tab's content.</p>
                      </div>
                      <div id="tab3" class="tab-content">
                        <p>Content for Events. This is the third tab's content.</p>
                      </div>
                      <div id="tab4" class="tab-content">
                        <p>Content for Insights. This is the fourth tab's content.</p>
                      </div>
                    </div>
                  </div>
              </section>
            </div>
            <!-- <div class="panel-footer">
                        Footer for Pool 3
                        </div> -->
            <button class="arrow-btn left">←</button>
          </div>
        </section>
      </div>
    </div>
</section>

<script src="/core/javascripts/unibox.layout.js" type="text/javascript"></script>
