<script type="text/javascript">
    // Include Unibox
		document.write('<link href="/core/css/unibox.css" media="all" rel="stylesheet" type="text/css" id="ajax-dialog-css">');
</script>

<section class="row-fluid" style="">
    <div class="container-fluid" style="padding-right: 0 !important;">
      <div class="row">
        <!-- Pool 1 -->
        <section id="pool1" name="pool1" class="col panel">
          <div id="panel1_panel" class="pool1-panel">
            <div id="pool1_header" name="pool1_header" class="panel1-header">
              <h2>My.SaaS Tutorial</h2>
              <button class="close-btn" onclick="closePanel('pool1')">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </button>
              <button id="arrow-right-1" class="arrow" onclick="togglePanel('pool2', 'arrow-right-1')">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <div id="list_div" class="panel-content">
              <ul>
                <li><a href="/demo/01_layout">Demo 01: Layout</a></li>
                <li><a href="/demo/02_selectorws">Demo 02: Select Rows</a></li>
                <li><a href="/demo/03_tags">Demo 03: Tags</a></li>
                <li><a href="/demo/04_profiles">Demo 04: Profiles</a></li>
                <li><a href="/demo/05_editable">Demo 05: Editable</a></li>
                <li><a href="/demo/06_images">Demo 06: Images</a></li>
                <li><a href="/demo/07_filters">Demo 07: Filters</a></li>
                <li><a href="/demo/08_data">Demo 08: Data</a></li>
                <li><a href="/demo/09_reminders">Demo 09: Reminders</a></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- Pool 2 -->
        <section id="pool2" name="pool2" class="col-6 panel ">
          <div id="panel2_panel" class="pool2-panel">
            <div id="pool2_header" name="pool2_header" class="panel2-header">
              <div class="header-info">
                <div>
                  <span class="user-name">Live Demo</span>
                </div>
              </div>
              <button class="close-btn" onclick="closePanel('pool2')">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </button>
              <button id="arrow-right-2" class="arrow" onclick="togglePanel('pool3', 'arrow-right-2')">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
              <button id="arrow-left-1" class="arrow-left" onclick="togglePanel('pool1', 'arrow-left-1')">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
            </div>

            <div id="list_div">
              <section class="responsive-height-2" style="overflow: auto; max-height: fit-content;">
                <div class="user_list">




                </div>
              </section>
            </div>
          </div>
        </section>
        <!-- Pool 3 -->
        <section id="pool3" name="pool3" class="col panel">
          <div id="panel3_panel" class="pool3-panel">
            <div id="pool3_header" name="pool3_header" class="panel2-header">
              <div class="header-info">
                <div>
                  <span class="user-name">Details</span>
                </div>
              </div>

              <button class="close-btn" onclick="closePanel('pool3')">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </button>
              <button id="arrow-left-2" class="arrow-left" onclick="togglePanel('pool2', 'arrow-left-2')">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
            </div>
            <div id="list_div" class="panel-content">
              <section class="list">
                <div class="third-section-content">
                  <div class="tab-container">
                    <!-- Tab Buttons -->
                    <div class="tab-buttons">
                      <button class="tab-button active" data-tab="tab1">Documentation</button>
                      <button class="tab-button" data-tab="tab2">Other Tab</button>
                    </div>
                    <!-- Tab Contents -->
                    <div class="tab-contents">
                      <div id="tab1" class="tab-content active">
                      <%=@md.render('                
Any internal scraeen of My.SaaS has 2 or 3 panels, like this page that you are reading now.
                
Find a live demo of a 2-panel screen [here](01a_2pools).

Find a live demo of a 3-panel screen [here](01b_3pools).
                
#### URL Parameters

The URL parameters `dark`, `tab`, `pool1`, `pool2`, and `pool3` provide users with the ability to customize their interface preferences dynamically. 
  
- [Example: Setting dark-mode dynamically with `?dark=yes`](01_layout?dark=yes).
                
- [Example: Choosing filters tab with `?tab=tab2`](01_layout?tab=tab2).

- [Example: Collapsing first panel with `?pool1=collapsed`](01_layout?pool1=collapsed)

#### JavaScript

You can setup the screen with JavaScript too.

- `setDarkMode(true);`
- `chooseTab("tab1");`
- `closePanel("pool1");`
- `openPanel("pool2");`

#### Remember User Preferences

Using Javascript, you can get your SaaS to remember the preferences of the user.

`setPreference("dark", "yes");`

You can get the value of any preference too:

`setPreference("dark");`




----
')%>   
                      </div>
                      <div id="tab2" class="tab-content">
                        <p>Content for Filters. This is the second tab's content.</p>
                      </div>
                      <div id="tab3" class="tab-content">
                        <p>Content for Events. This is the third tab's content.</p>
                      </div>
                      <div id="tab4" class="tab-content">
                        <p>Content for Insights. This is the fourth tab's content.</p>
                      </div>
                    </div>
                  </div>
              </section>
            </div>
            <!-- <div class="panel-footer">
                        Footer for Pool 3
                        </div> -->
            <button class="arrow-btn left">←</button>
          </div>
        </section>
      </div>
    </div>
</section>
