<section class="row-fluid">
    <div class="container-fluid" style="padding-right: 0 !important;">
      <div class="row">

        <!-- Pool 2 -->
        <section id="pool2" name="pool2" class="col-6 panel responsive-height-1">
          <div id="panel2_panel" class="pool2-panel">
          	Some content here
          </div>
        </section>
        
        <!-- Pool 3 -->
        <section id="pool3" name="pool3" class="col-6 panel responsive-height-1">
          <div id="panel3_panel" class="pool3-panel">
          	Some content here
          </div>
        </section>

      </div>
    </div>
</section>
