<script type="text/javascript">
    // Include Unibox
		document.write('<link href="/core/css/unibox.css" media="all" rel="stylesheet" type="text/css" id="ajax-dialog-css">');
</script>

<section class="row-fluid" style="">
    <div class="container-fluid" style="padding-right: 0 !important;">
      <div class="row">
        <!-- Pool 1 -->
        <section id="pool1" name="pool1" class="col panel">
          <div id="panel1_panel" class="pool1-panel">
            <div id="pool1_header" name="pool1_header" class="panel1-header">
              <h2>My.SaaS Tutorial</h2>
              <button class="close-btn" onclick="closePanel('pool1')">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </button>
              <button id="arrow-right-1" class="arrow" onclick="togglePanel('pool2', 'arrow-right-1')">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <div id="list_div" class="panel-content">
            <section class="list">
            <div class="chat-messages">
              <ul>
								<li><a href="/demo/01_layout">Demo 01: Layout</a></li>
                <li><a href="/demo/02_selectorws">Demo 02: Select Rows</a></li>
                <li><a href="/demo/03_tags">Demo 03: Tags</a></li>
                <li><a href="/demo/04_profiles">Demo 04: Profiles</a></li>
                <li><a href="/demo/05_single_editable_fields">Demo 05: Single Editable</a></li>
								<li><a href="/demo/06_multiple_editable_fields">Demo 06: Multiple Editable</a></li>
								<li><a href="/demo/07_filters">Demo 07: Filters</a></li>
                <li><a href="/demo/08_images">Demo 08: Images</a></li>
                <li><a href="/demo/09_data">Demo 09: Data</a></li>
                <li><a href="/demo/10_reminders">Demo 10: Reminders</a></li>
								<li><a href="/demo/11_chat">Demo 11: Chat</a></li>
								<li><a href="/demo/12_table">Demo 12: Table</a></li>
								<li><a href="/demo/13_ajax">Demo 13: Ajax</a></li>
								<li><a href="/demo/14_pagination">Demo 14: Pagination</a></li>
								<li><a href="/demo/15_waiting">Demo 15: Waiting</a></li>
								<li><a href="/demo/16_alerts">Demo 16: Alerts</a></li>
<li><a href="/demo/17_guid">Demo 17: GUID</a></li>
              </ul>
            </div>
            </section>
            </div>
          </div>
        </section>
        <!-- Pool 2 -->
        <section id="pool2" name="pool2" class="col-6 panel ">
          <div id="panel2_panel" class="pool2-panel">
            <div id="pool2_header" name="pool2_header" class="panel2-header">
              <div class="header-info">
                <div>
                  <span class="user-name">Live Demo</span>
                </div>
              </div>
              <button class="close-btn" onclick="closePanel('pool2')">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </button>
              <button id="arrow-right-2" class="arrow" onclick="togglePanel('pool3', 'arrow-right-2')">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
              <button id="arrow-left-1" class="arrow-left" onclick="togglePanel('pool1', 'arrow-left-1')">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
            </div>

            <div id="list_div" class="panel-content">
            <section class="list">
              <div class="chat-messages">
                <h2>Reminders</h2>

								<div class='data' data-id="lead-123">
	                <!-- call dataJs.draw -->
	              </div>

	              <section class="span11">
	                <div id='myItems' style='width:100%;'> </div>
	                <div id='myButtons' style='width:100%;'> </div>
	              </section>

              </div>
            </section>
          </div>
        </section>
        <!-- Pool 3 -->
        <section id="pool3" name="pool3" class="col panel">
          <div id="panel3_panel" class="pool3-panel">
            <div id="pool3_header" name="pool3_header" class="panel2-header">
              <div class="header-info">
                <div>
                  <span class="user-name">Details</span>
                </div>
              </div>

              <button class="close-btn" onclick="closePanel('pool3')">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </button>
              <button id="arrow-left-2" class="arrow-left" onclick="togglePanel('pool2', 'arrow-left-2')">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
            </div>
            <div id="list_div" class="panel-content">
              <section class="list">
                <div class="third-section-content">
                  <div class="tab-container">
                    <!-- Tab Buttons -->
                    <div class="tab-buttons">
                      <button class="tab-button active" data-tab="tab1">Documentation</button>
                    </div>
                    <!-- Tab Contents -->
                    <div class="tab-contents">
                      <div id="tab1" class="tab-content active">
                      <%=@md.render("The **data.min.js** library is a versatile tool not only for managing data items but also for organizing reminders.

It provides functionalities like adding, removing, and editing reminders with additional features such as strikethrough and date handling.

Developers can define reminders with custom dates, text fields, or even multi-line descriptions, making it highly adaptable for personal and professional use cases.

####1. Define a Parent Element

Define two parent elements: one for buttons and one for items where the data controls will be rendered:

```html
<div id=\"reminderButtons\"></div>
<div id=\"reminderItems\"></div>
```

####2. Draw a Data Control

Use the `dataJs.draw` function to create a control for managing reminders:

```javascript
var parent_buttons = $('#reminderButtons');
var parent_items = $('#reminderItems');

dataJs.draw(parent_buttons, parent_items, {
    id: 'reminder-123',
    caption: 'Add Reminder',
    trash_enabled: true,
    copy_enabled: false,
    strikethrough_enabled: true,
    calendar: true, // Enables date input
    buttons: [
        {
            code: '1',
            name: 'task',
            icon: 'calendar',
            title: 'Add a Task'
        },
        {
            code: '2',
            name: 'event',
            icon: 'clock',
            title: 'Add an Event'
        }
    ],
    items: []
});
```

####3. Allowing Date Field

Enable date input for reminders by setting the `calendar` property to `true`. This will render a date picker field in the form:

```javascript
dataJs.draw(parent_buttons, parent_items, {
    calendar: true
});
```

####4. Switching Input Field into a TextArea

If the reminders require multi-line descriptions, enable a `textarea` instead of a single-line input field by setting the `textarea` property to `true`:

```javascript
dataJs.draw(parent_buttons, parent_items, {
    textarea: true
});
```

This allows users to input detailed descriptions for their reminders using a text area.







----
")%>
                      </div>
                    </div>
                  </div>
              </section>
            </div>
            <!-- <div class="panel-footer">
                        Footer for Pool 3
                        </div> -->
            <button class="arrow-btn left">←</button>
          </div>
        </section>
      </div>
    </div>
</section>

<script>
  $(document).ready(function() {

      var parent_buttons = $('#myButtons');
      var parent_items = $('#myItems');

      dataJs.draw(parent_buttons, parent_items, {
				id: '1234',
				caption: 'Add Contact Information',
        textarea: true,
        calendar: true,
        show_date: true,
				trash_enabled: true, // default: false
				copy_enabled: false, // default: false
				strikethrough_enabled: true, // default: false
				buttons: [{
					code: '1',
					name: 'reminder',
					icon: 'calendar',
					//link: 'mailto', // default: null
					title: 'Add a Reminder',
					placeholder: 'Write a note and date...'
				}],

				items: [{
					id: 'a',
					button_code: '1',
					value: 'Call the lead for his BirthDay!',
          date: '2025-01-01',
					strikethrough: true
				}, {
					id: 'b',
					button_code: '1',
					value: '555 555-5555',
					value: 'Send an offer!',
          date: '2025-01-03',
					strikethrough: false
				}],
        /*
				on_add_item: function(type, value) {
					// call ajax before the a new data item is added to the list.
				},
				on_remove_item: function(id) {
					// call ajax before the a data item is remobved from the list.
				},
				on_strikethrough_item: function(id) {
					// call ajax before set strikethrough to a data.
				},
        */
			});
  }); // end of document.ready
</script>
