.plans {
	text-align:center;
	position: relative;
}

.plan {
  position: relative;
  margin: 20px 2px;
  padding: 15px 25px;
  text-align: center;
  background: white;
  border: 2px solid #e5ded6;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 80%;
}

.plan ul {
  list-style: none;
}

.plan .plan-title {
  margin-bottom: 12px;
  font-size: 24px;
  color: #36bce6;
}

.plan .plan-price {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 28px;
  font-weight: bold;
  color: #fd935a;
}

.plan .plan-unit {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #aaa;
}

.plan .plan-features {
  margin: 20px auto 15px;
  padding: 15px 0 0 15px;
  border-top: 1px solid #e5ded6;
  text-align: left;
}

.plan .plan-feature {
  line-height: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
}

.plan .plan-feature-unit {
  margin-left: 2px;
  font-size: 16px;
}

.plan .plan-feature-name {
  font-size: 13px;
  font-weight: normal;
  color: #aaa;
}

.plan .plan-button {
  position: relative;
  display: block;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: #fd935c;
  border-bottom: 2px solid #cf7e3b;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.plan .plan-button:active {
  top: 2px;
  margin-bottom: 2px;
  border-bottom: 0;
}

.plan .plan-recommended {
  margin: -15px auto 15px;
  padding-bottom: 2px;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.05);
  background: #37bbe6;
  border-radius: 0 0 4px 4px;
}


/*
 * Highlighted Plan
 *
 */
.plan-highlight {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  border: 4px solid #37bbe6;
  width: 85%;
  max-width: 450px;
}

.plan-highlight .plan-button {
  font-size: 18px;
  line-height: 49px;
  background: #37bce5;
  border-color: #3996b3;
}

/*
 * Testimonials
 *
 */

.testimonials {
  position: relative;
}

.testimonials img.testimonial {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 50%;
  border: 4px solid #37bbe6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 75px; /* This if for the object-fit */
  height: 75px; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.testimonials .header {
  font-size: 18px;
}

.testimonials .header i {
  color: #37bbe6;
}

.testimonials .header .name {
  font-weight: 700;
}

.testimonials .header .headline {
  padding-top: 25px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 500;
}

.testimonials .testimonial span {
  padding-top: 25px;
  margin-top: 25px;
  color: rgb(90,90,90); 
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}