<%
# get the order ID
oid = params[:oid]
# get the dfyl campaign ID
cid = params[:cid]

# redirect if either oid or cid are not guids
redirect '/emails/leads?service=emails' if !oid.to_s.guid? || !cid.to_s.guid?
%>

<style>
body {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	background-color: #fff;
}

section.container {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

div.span12 {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.top_banner {
	background-image: url('/leads/images/guarda.png');
	height: 16px;
}

section.header {
	width: 100%;
	text-align: center;
}

section.header h1 {
	font-size: 4.5em;
	line-height: 1.2;
	font-weight: bold;
	color: #555;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;

}

section.header h2 {
	font-size: 2.5em;
	line-height: 1.2;
	font-weight: bold;
	color: #333;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
</style>

<div class="top_banner"></div>

<section class="contaner box step">
	<br/>
	<section class='row-fluid'>
		<h1><b>You are All Set</b></h1>
	</section>
	<%
	if oid.to_s.guid?
	%>
	<section class='row-fluid'>
		<h2>DFY-Leads Order</h2>
		<p>We placed an order for you on DFY-Leads. You can view the order details by clicking on the link below.</p>
		<p>Order ID: <a href='/dfy-leads/orders/<%=oid%>/edit' target='_window'><%= oid %></a></p>
		<p><b>DFY-Leads</b> is our service for building fresh email lists.</p>
	</section>
	<%
	end # if oid.to_s.is_guid?
	%>
	<section class='row-fluid'>
		<h2>DFY-Outreach Campaign</h2>
		<p>As long as <b>DFY-Leads</b> builds your list of leads, such a list will be reached by our <b>DFY-Outreach System</b>.</p>
		<p>Campaign ID: <a href='/emails/campaigns/<%=cid%>/edit' target='_window'><%= cid %></a></p>
	</section>

	<br/>
	<section class='row-fluid text-right'>
		<a class='btn btn-large btn-link' id='exit' href='/emails?service=emails'>Go to Dashboard</a>&nbsp;&nbsp;
	</section>

</section>