<%
email = session['email'].to_s
err = params[:err]
%>

	<script type="text/javascript" src="core/javascripts/jquery-3.5.1.min.js"></script>

	<script>
		$(document).ready(function() {
			var timeout = null;

			function killTimeout() {
				if (timeout != null) { clearTimeout(timeout) ; timeout = null; }
			}

			function validateEmail(email) {
				var re = /\S+@\S+\.\S+/;
				return re.test(email);
			}
	
			function validateForm() {
				var email = $('#email').val();
				killTimeout();
				$('#error-div').hide();
				if (validateEmail(email)) {
					// enable #submit
					$('#submit').prop('disabled', false);
				} else {
					// disable #submit
					$('#submit').prop('disabled', true);
					if ($('#email').val().length > 0) {
						timeout = setTimeout(function(){
							$('#error-div').show();
							$('#url-error-div').hide();
						}, 1000);
					} else {
						$('#error-div').hide();
					}
				}
			}

			$('#email').on('input', function() {
				validateForm();
			});	

			$('#error-div').hide();
			$('#email').focus();
			$('#email').select();
			validateForm();
		});
	</script>
	
	<div class='titles'>
		<center>
			<h1>
				Get Instant Access to 200M+ B2B Leads With Emails and Phone Numbers.
			</h1>
			<h2>
				Free Trial. No Credit Card Required. SignUp Below.
			</h2>
		</center>
	</div>

	<div class='form'>
		<center>
			<%
			if !err.to_s.empty?
			%>
			<div id='url-error-div' name='url-error-div'>
				<span id='url-error' name='url-error' class='error'><%=err.to_s.encode_html%></span>
				<br/>
				<br/>
			</div>
			<%
			end # if !err.to_s.empty?
			%>

			<div id='error-div' name='error-div'>
				<span id='error' name='error' class='error'>Enter a Valid Email</span>
				<br/>
				<br/>
			</div>

			<form method='post' action='/signup'>
				<input id='email' name='email' class='email' type='text' placeholder='Enter your email address' size='50' value='<%=email.encode_html%>' />
				<input id='redirect_on_error' name='redirect_on_error' type='hidden' value='/free' />
				<!--
				<input id='redirect_on_success' name='redirect_on_success' type='hidden' value='/step1' />
				-->
				<input id='companyname' name='companyname' type='hidden' value='New User' />
				<input id='username' name='username' type='hidden' value='no-username' />
				<input id='password' name='password' type='hidden' value='no-password-<%=rand(50000)%>-<%=rand(50000)%>' />
				<input id='phone' name='phone' type='hidden' value='' />
				<br/>
				<br/>
				<input id='submit' name='submit' class='submit' type='submit' value='Submit' size='50' />
				<br/>
				<br/>
				<a href='/login'>I am already a user.</a>
			</form>
		</center>
	</div>
