<%
# add users to the sub-account is possilbe, but they should be able to login, reset password, etc.....
# e.g.: a user may want to add his client to his sub-account.
redirect "#{MASTER_URL}/login" if SLAVE

email = session['email'].to_s
%>
<section class='row-fluid  signin-page' style='vertical-align: middle; height: 100%;' height='100%'>	
	<div class='span4 signin-page'></div>
		
	<div class='span4 signin-page' style='vertical-align: middle; height: 100%;' height='100%'>
		<!-- Page content
			================================================== -->
		<div>				
			<span align='left'><h1>
				<a href='/'><img src='<%=CS_HOME_LOGO%>' width='160px' title='<%=APP_NAME%> logo' /></a>
			</h1></span><br/>
		</div>

		<left>
		<form action="/login" method="post">	
			<fieldset>
				<div class="fields">
					<input type="text" name="email" placeholder="Email" id="id_email" tabindex="1"  onfocus="$(this).select();" value="<%=email.encode_html%>">
					<input type="password" name="password" placeholder="Password" id="id_password" tabindex="2" onfocus="$(this).select();">
				</div>						
				<button type="submit" class="btn btn-primary btn-block" tabindex="3"><b>Login</b></button>
			</fieldset>
		</form>
		<%
		if !SLAVE
		%>
		<div>
			<span align='right'><a href='./recover' tabindex="4">Reset your password</a></span><br/>
			<br/>
			<center>
				Don't have an account?<br/>
				<a href='./signup' class='btn btn-gray btn-block' tabindex="5"><b>Create a new <%=APP_NAME%> account</b></a>
			</center>
		</div>
		<%
		end # if SLAVE
		%>
		</left>

		<br/>
		<br/>
		<br/>
	</div>

	<div class='span4'>
	</div>

</section>

<script>
	$('document').ready(function(){
		document.getElementById("id_email").focus();
	});
</script>


