<%
email = session['email'].to_s
%>
<section class='row-fluid  signin-page' style='vertical-align: middle; height: 100%;' height='100%'>
	<div class='span4 signin-page'>
		<!-- Page content
			================================================== -->
		<div>				
			<span align='left'><h1>
				<a href='/'><img src='<%=CS_HOME_LOGO%>' height='100px' title='<%=APP_NAME%> logo' /></a>
			</h1></span><br/>
		</div>
	</div>
		
	<div class='span1 signin-page'></div>
		
	<div class='span5 signin-page' style='vertical-align: middle; height: 100%;' height='100%'>
		<center>

		<br/>
		<br/>

		<form action="/login" method="post">	
			<fieldset>
				<div class="fields">
					<input type="text" name="email" placeholder="Email" id="id_email" tabindex="1"  onfocus="$(this).select();" value="<%=email.encode_html%>">
					<input type="password" name="password" placeholder="Password" id="id_password" tabindex="2" onfocus="$(this).select();">
				</div>						
				<button type="submit" class="btn btn-primary btn-block" tabindex="3"><b>Login</b></button>
			</fieldset>
		</form>
		<div>
			<span align='right'><a href='./recover' tabindex="4">Reset your password</a></span><br/>
			<br/>
			<center>
				Don't have an account?<br/>
				<a href='./signup' class='btn btn-gray btn-block' tabindex="5"><b>Create a new <%=APP_NAME%> account</b></a>
			</center>
		</div>
		
		</center>
	</div>

	<div class='span1'>
	</div>

</section>

<script>
	$('document').ready(function(){
		document.getElementById("id_email").focus();
	});
</script>


