
<%
free_url = BlackStack::Funnel.url_to_go_free(@login, 'funnels.main')
trial = !@login.user.account.disabled_trial
trial_url_1 = '/settings/filter_create_invoice?item_number=leads.cheap.1&n=1'
trial_url_2 = '/settings/filter_create_invoice?item_number=leads.quality.1&n=1'
trial_url_3 = '/settings/filter_create_invoice?item_number=leads.loyalty.1&n=1'
%>

<section class="container">
	<section class="row-fluid">
		<div class='span12'>
			<center>
				<h1 class='offer'>Price & Plans</h1>
				<h3 class='offer'>Emails Scraping + Verification + Personalization Insights.</h3>
			</center>
		</div>
	</section>

	<section class="row-fluid">
		<div class='span2 plans'></div>
		<div class='span3 plans'>
			<div class="plan">
				<h2 class="plan-title">
					Cheap
				</h2>
				<p class="plan-price">
					$47
					<span class="plan-unit">per month</span>
				</p>
				<ul class="plan-features">
					<li class="plan-feature" style='text-align:left;'>
						<i class='icon-ok' style='color:yellow;text-align:center;'></i> 2,136 <span class="plan-feature-unit">lookups</span><br/>
						<span class="plan-feature-name">2.2&#162; per VERIFIED email.</span><br/>
						<span class="plan-feature-name">Up to <b>375 lookups / day</b></span><br/>
						<br/>
						<i class='icon-ok' style='color:yellow;'></i> Email<span class="plan-feature-unit"> Support</span><br/>
						<span class="plan-feature-name">Low-Priority support.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> <span class="plan-feature-unit">On-Demand</span> Email Verification<br/>
						<span class="plan-feature-name">Integrated Email Verification. <span class='badge badge-blue' title='Free feature. Included in the price.'><i class='icon-gift'></i> Free</span></span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> Direct Phone #s <span class='badge badge-blue' title='Additonal service for +1&cent; per lookup.'>+1&cent; </span><br/>
						<span class="plan-feature-name">Direct Phone Numbers Scraping.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> Personalization <span class='badge badge-blue' title='Additonal service for +1&cent; per lookup.'>+1&cent; </span><br/>
						<span class="plan-feature-name">Websites scraping + AI to gather valuable insights about your leads. Use it in your outreach.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> Credits <span class="plan-feature-unit">Roll Over</span><br/>
						<span class="plan-feature-name">Up to <b>3 months</b> of credits roll-over.</span><br/>
						<br/>
						<i class='icon-remove' style='color:red;'></i><span class="plan-feature-unit">Dedicated</span> Account Manager<br/>
						<span class="plan-feature-name">Not available at this plan.</br></span><br/>
						<br/>
					</li>
				</ul>
				<a href="<%=trial_url_1%>" class="plan-button">Start Cheap</a>
			</div>
		</div>
		<div class='span3 plans'>
			<div class="plan plan-highlight">
				<p class="plan-recommended">Most Popular</p>
				<h2 class="plan-title">
					Quality
				</h2>
				<p class="plan-price">
					$97
					<span class="plan-unit">per month</span>
				</p>
				<ul class="plan-features">
					<li class="plan-feature" style='text-align:left;'>
						<i class='icon-ok' style='color:orange;text-align:center;'></i> 4,850 <span class="plan-feature-unit">lookups</span><br/>
						<span class="plan-feature-name">2&#162; per VERIFIED email.</span><br/>
						<span class="plan-feature-name">Up to <b>375 lookups / day</b></span><br/>
						<br/>
						<i class='icon-ok' style='color:orange;'></i> Email<span class="plan-feature-unit"> Support</span><br/>
						<span class="plan-feature-name">High-Priority support.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> <span class="plan-feature-unit">On-Demand</span> Email Verification<br/>
						<span class="plan-feature-name">Integrated Email Verification. <span class='badge badge-blue' title='Free feature. Included in the price.'><i class='icon-gift'></i> Free</span></span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> Direct Phone #s <span class='badge badge-blue' title='Additonal service for +1&cent; per lookup.'>+1&cent; </span><br/>
						<span class="plan-feature-name">Direct Phone Numbers Scraping.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> Personalization <span class='badge badge-blue' title='Additonal service for +1&cent; per lookup.'>+1&cent; </span><br/>
						<span class="plan-feature-name">Websites scraping + AI to gather valuable insights about your leads. Use it in your outreach.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> Credits <span class="plan-feature-unit">Roll Over</span><br/>
						<span class="plan-feature-name">Up to <b>3 months</b> of credits roll-over.</span><br/>
						<br/>
						<i class='icon-remove' style='color:red;'></i><span class="plan-feature-unit">Dedicated</span> Account Manager<br/>
						<span class="plan-feature-name">Not available at this plan.</br></span><br/>
						<br/>
					</li>
				</ul>
				<a href="<%=trial_url_2%>" class="plan-button">Start Quality</a>
			</div>
		</div>
		<div class='span3 plans'>
			<div class="plan">
				<h2 class="plan-title">
					Loyalty
				</h2>
				<p class="plan-price">
					$197
					<span class="plan-unit">per month</span>
				</p>
				<ul class="plan-features">
					<li class="plan-feature" style='text-align:left;'>
						<i class='icon-ok' style='color:green;text-align:center;'></i> 10,945 <span class="plan-feature-unit">lookups</span><br/>
						<span class="plan-feature-name">1.8&#162; per VERIFIED email.</span><br/>
						<span class="plan-feature-name">Up to <b>375 lookups / day</b></span><br/>
						<br/>
						<i class='icon-ok' style='color:green;'></i> Fanatical<span class="plan-feature-unit"> Support</span><br/>
						<span class="plan-feature-name">Dedicated <b>Account Manager</b>.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> <span class="plan-feature-unit">On-Demand</span> Email Verification<br/>
						<span class="plan-feature-name">Integrated Email Verification. <span class='badge badge-blue' title='Free feature. Included in the price.'><i class='icon-gift'></i> Free</span></span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> Direct Phone #s <span class='badge badge-blue' title='Additonal service for +1&cent; per lookup.'>+1&cent; </span><br/>
						<span class="plan-feature-name">Direct Phone Numbers Scraping.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> Personalization <span class='badge badge-blue' title='Additonal service for +1&cent; per lookup.'>+1&cent; </span><br/>
						<span class="plan-feature-name">Websites scraping + AI to gather valuable insights about your leads. Use it in your outreach.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;text-align:center;'></i> Credits <span class="plan-feature-unit">Roll Over</span><br/>
						<span class="plan-feature-name">Up to <b>3 months</b> of credits roll-over.</span><br/>
						<br/>
						<i class='icon-ok' style='color:green;'></i><span class="plan-feature-unit">Dedicated</span> Account Manager<br/>
						<span class="plan-feature-name">One skilled professioinal assigned to understand your requirements and setup your searches for you.</span><br/>
						<br/>
					</li>
				</ul>
				<a href="<%=trial_url_3%>" class="plan-button">Start Loyalty</a>
			</div>
		</div>
	</section>

	<br/>

	<section class="row-fluid">
		<div class='span2'></div>
		<div class='span6' style='text-align:left;font-size:18px;line-height:25px;vertical-align:top;'>
			<span >A free plan is also available for you, including 75 lookups per month and all the benefits of <b>FreeLeadsData</b>, except for <b>Email Verification</b> and <b>Personalization Insights</b>.</span>
		</div>
		<div class='span4' style='text-align:center;'>
			<a class='btn btn-large btn-black' href='<%=free_url%>'>Choose Free Plan.</a>
		</div>
	</section>

</section>

