<%
err = params[:err]
msg = params[:msg]
%>

<div style='position:absolute;left:50px;top:25px;height:90px;'>
	<a href='/'><img src="/core/images/logo/logo-16-01.png" height="90px" title="ConnectionSphere Logo"></a>
</div>

<br/>
<br/>
<br/>

<section class='box span10'>	
	<%
	if err!=nil
	%>
	<div class="alert alert-error">
	<%=err.to_s.encode_html%>
	</div>
	<%
	end # err
	%>

	<%
	if msg!=nil
	%>
	<div class="alert alert-info">
		<a href="#" class="close" data-dismiss="alert"><i class='icon-remove-sign'></i></a><%=msg.encode_html%>
	</div>
	<%
	end # msg
	%>

	<span align='left'>
		<h4>Recover your password</b></h4>
	</span>

	<form action="recover" method="post">
		<fieldset>
			<div class="fields">
				<input type="text" class='input-xlarge' name="email" placeholder="Email" id="id_email" tabindex="1" onfocus="$(this).select();" />
			</div>
				
			<button type="submit" class="btn btn-primary" tabindex="4">Recover</button>
		</fieldset>
	</form>

	<div>
		<br/>
		<p>Could you remember?</br><a href='./login'>Log In here</a>.</p>
		<br/>
		<p>Don't have an account?<br/><a href='./signup'>Sign Up Here</a>.</p>
	</div>
</section>

<br/>
<br/>
<br/>

<script type="text/javascript">
	$(document).ready(function() {
		$('input, textarea').placeholder();
		document.getElementById("id_email").focus();
	});
</script>