<%
default_subject = "Get in touch... "
default_body = "Hello !fname,

I'm #{@login.user.name} from #{@login.user.account.name}.
I am not sure if you remember me.

I am writing to you because I am looking for some beta-testers.

I am rolling out a new service and I would like you try it, share your feedback, and help me improve it.

Interested?

I await for you response.

Best regards,
#{@login.user.name}.
"

subject = @login.user.preference('step2.subject', default_subject, nil)
body = @login.user.preference('step2.body', default_body, nil)
%>

<style>
form.wizard_form span {
    font-size:24pt;
    text-align:left;
	color: #555;
	font-weight: bold;
}

form.wizard_form input {
	width: 100%;
    font-size:24pt;
    text-align:left;
    border: 5px solid #ccc;
	margin:5px;
	padding:0px;
	height: 45px;
	border-radius: 10px;
	opacity: 0.5; 
	margin-bottom: 30px;
	padding: 15px;
}

form.wizard_form textarea {
	width: 100%;
    font-size:24pt;
	line-height: 1.5;
    text-align:left;
    border: 5px solid #ccc;
	margin:5px;
	padding:0px;
	height: 245px;
	border-radius: 10px;
	opacity: 0.5; 
	margin-bottom: 30px;
	padding: 35px 15px 15px 15px;
}

</style>

<section class="step">
	<br/>
	<section class='row-fluid'>
		<h1><b>STEP 2:</b> Write An Email</h1>
	</section>
	<section class='row-fluid'>
		<h2>Compose an email to send to your leads.</h2>
	</section>
	<br/>
	<section class='row-fluid'>
		<div class='span12'>
			<form class='wizard_form' method='post' action='/filter_step2'>
				<span for="subject">Subject</span><br/>
				<input type="text" id="subject" name="subject" value="<%=subject.encode_html%>">
				<br/>
				<span for="body">Body</span><br/>
				<textarea id="body" name="body" rows="10"><%=body.encode_html%></textarea>

				<section class='row-fluid text-right'>
					<a class='btn btn-large btn-gray' id='back' href='/step1'><i class="icon-long-arrow-left"></i> Back</a>&nbsp;&nbsp;
					<button class="btn btn-primary btn-large" id="step2-next" disabled>Next <i class="icon-long-arrow-right"></i></button>&nbsp;&nbsp;
					<p style='font-size:14px;padding-top:10px;'><span class='badge badge-green'><i class='icon-star'></i> Premium</span> <b>Need AI Scraping? <a href='/offer'>UPGRADE <i class="icon-long-arrow-right"></i></b></a></p>
				</section>
			</form>
		</div>
	</section>		
</section>

<script type="text/javascript" charset="utf-8">

	// validate subject and body
	function validate() {
		var subject = $('#subject').val();
		var body = $('#body').val();
		var b = true;

		if (subject.length == 0) {
			$('#subject').css('border-color', '#ccc');
			$('#subject').css('color', '#ccc');
			b = false;
		} else {
			$('#subject').css('border-color', 'green');
			$('#subject').css('color', 'green');
		}

		if (body.length == 0) {
			$('#body').css('border-color', '#ccc');
			$('#body').css('color', '#ccc');
			b = false;
		} else {
			$('#body').css('border-color', 'green');
			$('#body').css('color', 'green');
		}

		if (b) {
			$('#step2-next').removeAttr('disabled');
		} else {
			$('#step2-next').attr('disabled', 'disabled');
		}

	}

	$(document).ready(function() {
		$('#subject').keyup(function() {
			validate();
		});

		$('#body').keyup(function() {
			validate();
		});

		// validate subject and body
		validate();
	});
</script>