<%
# validate: there is a name
name = @login.user.preference('leads.wizard.name', '', nil)
redirect '/new' if name.to_s.empty?

industry_name = @login.user.preference('leads.wizard.industry_name', '', nil)
err = params[:err]
%>

<style>
body {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	background-color: #fff;
}

section.container {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

div.span12 {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.top_banner {
	background-image: url('/leads/images/guarda.png');
	height: 16px;
}

section.header {
	width: 100%;
	text-align: center;
}

section.header h1 {
	font-size: 4.5em;
	line-height: 1.2;
	font-weight: bold;
	color: #555;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;

}

section.header h2 {
	font-size: 2.5em;
	line-height: 1.2;
	font-weight: bold;
	color: #333;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
</style>

<div class="top_banner"></div>

<% if err!=nil %>
	<div class="alert alert-error">
		<%=err.to_s.encode_html%>
	</div>
<% end # err %>

<section class="box step">
	<br/>
	<section class='row-fluid'>
		<h1><b>STEP 2:</b> Filter by Industry</h1>
	</section>
	<section class='row-fluid'>
		<h2>Write an Industry to Filter By.</h2>
	</section>
	<br/>
	<form id='industry_form' name='industry_form' method='post' action='/filter_step2'>
		<section class='row-fluid'>
			<input class='awesomplete text' type="text" name="industry_name" id="industry_name" list="industries_list" placeholder="Start writing your Industry here" autocomplete="false" value="<%=industry_name.to_s.encode_html%>" tabindex="6">
			<datalist id="industries_list">
				<% 
				BlackStack::Leads::Industry.all.each do |industry| 
				%>
					<option onclick="set_button_state()" value="<%= industry.name.to_s.encode_html %>"> <%= industry.name.to_s.encode_html %> </option>
					<%
				end
				GC.start
				DB.disconnect
				%>
			</datalist>
		</section>
		<div align="right">
			<button class='btn btn-large btn-link' id='choose-all'>Choose All Industries</button>&nbsp;&nbsp;
			<a href="/step1" class="btn btn-large"><i class="icon-long-arrow-left"></i> Back</a>&nbsp;&nbsp;
			<button id="step2-next" class="btn btn-primary btn-large">Next <i class="icon-long-arrow-right"></i></button>&nbsp;&nbsp;
			<p style='font-size:14px;padding-top:10px;'><span class='badge badge-green'><i class='icon-star'></i> Premium</span> Want to target by 7 different filters? <a href='/dfy-leads/orders/new'><b>Place a Scraping Order <i class="icon-long-arrow-right"></i></b></a></p>
		</div>
	</form>
</section>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		set_button_state();
		$('#industry_name').focus();
		$("#industry_name").on('awesomplete-selectcomplete', function() {
			set_button_state();
		});
		$("#industry_name").on('input', function() {
			set_button_state();
		});
		$('#choose-all').click(function(){
			$('#industry_name').val('');
			$('#industry_form').submit();
		});
	});

	function valid_industry(){
		const options = $('#industries_list option');

		const values = $.map(options ,function(option) {
			return option.value;
		});

		let selected_value = $('#industry_name').val()

		return selected_value == '' || values.indexOf(selected_value) !== -1;
	}

	function set_button_state(){
		if (valid_industry() === true)
		{
			$("#step2-next").removeAttr("disabled");
		}
		else
		{
			$("#step2-next").attr("disabled","disabled");
		}
	}

</script>