<!-- NavBar -->
<div class="mynavbar2 mysticky">
    <div class="row-fluid">	
        <div class="span3">
            <%=nav1("Survey")%>
        </div>

        <div class="span9">
            <button class='btn btn-blue'>Submit</button>
            <button class='btn btn-gray'>Skip</button>
        </div>

    </div>
</div>

<h1>Survey Screen</h1>
