<div class='top-right-logo-with-title'>
	<a href='/'><img src="/core/images/logo.png" title="<%=APP_NAME%> Logo"></a><br/>
</div>

<br/>
<br/>
<br/>
	
<section class='row-fluid'>
	<div class='span12'>
		<h2>We are Briefly Unavailable for Scheduled Maintenance.</h2>
		<br/>
		<h4>
			Yep! We are releasing a new version that requires to shut down our app.<br/>
			<br/>
			We'll be back online shortly.	
		</h4>
		<br/>
		<a href="<%=CS_HOME_WEBSITE%>/" class="btn btn-primary btn-large"><i class="icon-long-arrow-left"></i> Go Home</a>
		<br/>
		<br/>
	</div>
</section>

<br/>
<br/>
<br/>
