<%
# get extension
e = BlackStack::Extensions::extensions.select { |e| e.name.downcase==@service.to_s.downcase }.first
%>

<nav id="left-panel">
	<div id="left-panel-content">
		<%
		services = BlackStack::Extensions::extensions.select { |e| e.show_in_top_bar == true && !e.services_section.nil? }
		if services.size > 1
		%>
		<a href="/dashboard">
			<img src='/<%=@service%>/images/logo.png' title='<%=@service.capitalize%>' style='width:50px;margin-top:10px;'/>
		</a>
		<%
		end # if services.size > 1
		%>

		<ul>
			<li>
				<a href="/dashboard"><span class="icon-bar-chart"></span>Dashboard</a>
			</li>
			<li>
				<a href="/leads"><span class="icon-heart-empty"></span>Leads</a>
			</li>
			<li>
				<a href="/emails/campaigns"><span class="icon-bullhorn"></span>Campaigns</a>
			</li>
			<li>
				<a href="/leads/exports"><span class="icon-cloud-download"></span>Exports</a>
			</li>
			<li>
				<a href="/leads/searches"><span class="icon-search"></span>Searches</a>
			</li>
			<!--
			<li>
				<a href="/emails/actions"><span class="icon-play-circle"></span>Actions</a>
			</li>
			<li>
				<a href="/unibox"><span class="icon-inbox"></span>Unibox</a>
			</li>
			-->
			<li>
				<a href="/emails/addresses"><span class="icon-hdd"></span>Addresses</a>
			</li>
			<!-- this is shwn for all the services -->
			<li class="lp-dropdown">
				<a href="/settings/dashboard" class="lp-dropdown-toggle" id="settings-dropdown"><span class="icon-cog"></span>Settings</a>
			</li>
		</ul>
	</div>
</nav>
