<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span6">
			<%=nav1("Developers")%>
		</div>
	</section>
</div>

<!-- MySaaS Training  -->
<h4>MySaaS Training</h4>
<section class="row-fluid">
	<div class="span12 box">
		<ul>
			<li><a href='/developers/layouts'>Layouts</a></li>
			<li><a href='/developers/tables'>Tables</a></li>
		</ul>
	</div>
</section>

<!-- Filters.Js -->
<h4>Filters.Js</h4>
<section class="row-fluid">
	<div class="span12 box">
        <i>soon</i>
    </div>
</section>

<!-- SelectRows.Js -->
<h4>SelectRows.Js</h4>
<section class="row-fluid">
	<div class="span12 box">
        <i>soon</i>
    </div>
</section>
