<!-- NavBar -->
<div class="mynavbar mysticky">
	<section class="row-fluid">	
		<div class="span12">
			<%=nav2("Addresses", "/emails/addresses", "New")%>
		</div>
	</section>
</div>

<!-- Single Panel -->
<section class="row-fluid">
	<div class="span12 box">
        <center><h1><a href='/emails/addresses/new/gmail'>Gmail / Google Workspace</a></h1></center>
    </div>
</section>
<!--
<section class="row-fluid">
	<div class="span12 box">
        <center><h1><a href='/emails/addresses/new/hotmail'>Hotmail / Outlook / Office365</a></h1></center>
    </div>
</section>
-->
<section class="row-fluid">
	<div class="span12 box">
        <center><h1><a href='/emails/addresses/new/custom'>Custom Setup</a></h1></center>
    </div>
</section>
