button.btn-remove-data {
    opacity:0.3;
    text-decoration: none;
  }
  
  button.btn-remove-data:hover {
    opacity:1.0;
    text-decoration: none;
  }
  
  
  button.btn-remove-reminder {
    opacity:0.3;
    text-decoration: none;
  }
  
  button.btn-remove-reminder:hover {
    opacity:1.0;
    text-decoration: none;
  }
  
  button.btn-done-reminder {
    opacity:0.3;
    text-decoration: none;
  }
  
  button.btn-done-reminder:hover {
    opacity:1.0;
    text-decoration: none;
  }
  
  button.btn-undone-reminder {
    opacity:0.3;
    text-decoration: none;
  }
  
  button.btn-undone-reminder:hover {
    opacity:1.0;
    text-decoration: none;
  }
  
  
  div.lead-card div.acronym-color-0 {
    background-color:rgb(0,128,192);
  }
  
  div.lead-card div.acronym-color-1 {
    background-color:rgb(0,0,160);
  }
  
  div.lead-card div.acronym-color-2 {
    background-color:rgb(0,128,64);
  }
  
  div.lead-card div.acronym-color-3 {
    background-color:rgb(255,128,0);
  }
  
  div.lead-card div.acronym-color-4 {
    background-color:rgb(128,0,128);
  }
  
  div.lead-card div.acronym-color-5 {
    background-color:rgb(128,0,255);
  }
  
  div.lead-card div.acronym-color-6 {
    background-color:rgb(255,0,128);
  }
  
  div.lead-card div.acronym-color-7 {
    background-color:rgb(0,255,128);
  }
  
  div.lead-card div.acronym-color-8 {
    background-color:rgb(0,128,255);
  }
  
  div.lead-card div.acronym-color-9 {
    background-color:rgb(0,128,128);
  }
  
  div.lead-card div.acronym span {
    text-align:center;
    vertical-align:middle;
  }
  
  div.lead-card div.buttons div.btn-group {
    position:relative;
  }
  
  div.lead-card div.insights span.name {
    font-size:24px;
  }
  
  div.lead-card div.insights span.headline {
    font-size:12px;
  }
  
  div.lead-card div.data span.headline {
    font-size:12px;
  }
  
  div.lead-card div.buttons div.btn-group ul.dropdown-menu {
    position: absolute;
    right:0px;
    top:25px;
    width:155px;
  }
  
  
  
  div.contact-commands {
    align: left;
  }
  
  div.contact-commands button {
    color: rgb(210,210,210);
    text-decoration: none;
    width: 9px;
  }
  
  div.contact-commands:hover button {
    color: rgb(120,210,255);
    text-decoration: none;
    width: 9px;
  }
  
  div.contact-commands button i {
    width: 9px;
  }
  
  div.contact-commands button:hover {
    color: rgb(0,128,192);
    text-decoration: none;
  }
  
  div.contact-commands span {
    color: rgb(210,210,210);
  }
  
  div.contact-commands:hover span {
    color: gray;
  }
  
  
  div.add-data-div {
    position:absolute;
    left:0;
    top:0;
    background-color:white;
    height:100%;
    width:100%;
  }
  
  div.add-reminder-div {
    position:absolute;
    left:0;
    top:0;
    background-color:white;
    height:100%;
    width:100%;
  }
  
  
  @media (min-width: 840px) {
    /* CSS that should be displayed if width is higher than 840px goes here */
    div.lead-card {
      position:relative;
      height:205px;
      //display:block;
      width:100%;
      margin-bottom:25px;
      overflow:scroll;
    }
  
    div.lead-card div.acronym {
      position:absolute;
      left:0;
      top:0;
      width:70px;
      height:50px;
      display: block;
      overflow: auto;
      border-radius:35px;
      padding-top:20px;
      font-size:32px;
      text-align:center;
      vertical-align:middle;
      color:white;
    }
  
    div.lead-card div.leadpic {
      position:absolute;
      left:0;
      top:0;
      width:75px;
      height:75px;
      display: block;
      overflow: hidden;
      border-radius:50%;
      vertical-align:middle;
    }
  
    div.lead-card div.leadpic img {
      text-align:center;
      vertical-align:middle;
      width: 75px;
      height: 75px;
    }
  
    div.lead-card div.buttons {
      position:absolute;
      right:5px;
      width:170px;
      top:0;
    }
  
    div.lead-card div.insights {
      position:absolute;
      left:125px;
      top:0;
      width:175px; //calc(100% - 70px - 155px - 65px);
      display: block;
      overflow: auto;
    }
  
    div.lead-card div.data {
      position:absolute;
      right:5px;
      top:35px;
      width:190px;
      display: block;
      z-order: 99999999;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
    }
  /*
    div.lead-card div.data div.contact-info {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
    }
  
    div.lead-card div.data div.contact-info span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
    }
  */
  }